<div class="row app-footer no-padding-margin">
  <div class="col-xs-12 col-sm-5 about-us">
    <h4>About Us</h4>
   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    <button class="btn app-btn-black btn-learn-more">Learn more</button>
  </div>
  <div class="col-xs-12 col-sm-7 contact-us">
    <div class="col-xs-7">
      <h4>Contact info</h4>
      <div class="contact-list">
        <div class="contact-item">
          <i class="fa fa-map-marker map-icon"></i>
         <div>Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh<br>&nbsp;web design</div>
        </div>
        <div class="contact-item">
          <i class="fa fa-phone-square phone-icon"></i>
         <div>
            Phone: +1 800 258 2689
            <br> Mobile: +1 800 258 2689
          </div>
        </div>
        <div class="contact-item">
          <i class="fa fa-envelope mail-icon"></i>
         <div>Email: <a href="mailto:appMail@mail.com">appMail@mail.com</a></div>
        </div>
      </div>
    </div>
    <div class="col-xs-5 follow-us">
      <div class="col-xs-12">
        <h4>Follow Us</h4>
       <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</div>
      </div>
      <div class="col-xs-12">
        <h4>Social Connecting</h4>
        <div class="social-icons">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-google-plus-square"></i>
          <i class="fa fa-twitter-square"></i>
        </div>
      </div>
    </div>
  </div>
</div>